# Copyright 2018-2024 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the Watchexec binary tool"
  homepage = "https://github.com/paketo-buildpacks/watchexec"
  id = "paketo-buildpacks/watchexec"
  keywords = ["watchexec", "reloadable", "processes"]
  name = "Paketo Buildpack for Watchexec"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/watchexec/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main"]
  pre-package = "scripts/build.sh"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:watchexec:watchexec:2.1.0:*:*:*:*:*:*:*"]
    id = "watchexec"
    name = "Watchexec"
    purl = "pkg:generic/watchexec@2.1.0?arch=amd64"
    sha256 = "6ebb56e8a4a3448c598e794af9277b3cbac0078671c3033520d3548edbdc2989"
    source = "https://github.com/watchexec/watchexec/archive/refs/tags/v2.1.0.tar.gz"
    source-sha256 = "acac35485b57ebf494b1025550eb88dc534841e4081dbba47ecb0168e7f214ab"
    stacks = ["*"]
    uri = "https://github.com/watchexec/watchexec/releases/download/v2.1.0/watchexec-2.1.0-x86_64-unknown-linux-musl.tar.xz"
    version = "2.1.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/watchexec/watchexec/blob/main/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:watchexec:watchexec:2.1.1:*:*:*:*:*:*:*"]
    id = "watchexec"
    name = "Watchexec"
    purl = "pkg:generic/watchexec@2.1.1?arch=arm64"
    sha256 = "5e782466fc4d1463ebcb9a21c18c7045059c88fb55bd90feee526b48a0a07963"
    source = "https://github.com/watchexec/watchexec/archive/refs/tags/v2.1.1.tar.gz"
    source-sha256 = "8d8e3c1de05daae24a31ea59d61631812b6044a74231aaa0e5a2ee15203898e8"
    stacks = ["*"]
    uri = "https://github.com/watchexec/watchexec/releases/download/v2.1.1/watchexec-2.1.1-aarch64-unknown-linux-musl.tar.xz"
    version = "2.1.1"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/watchexec/watchexec/blob/main/LICENSE"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
